form{
  border: 3px solid #f1f1f1;
}

h2{
  text-align: center;
}
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


.container {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left:20%;
  margin-right: 20%;
}


table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 50%;
  margin-bottom: 10%;
}

table td,
table th, input {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: white;
}

input{
  width: 95%;
}

.add_button{
  width: 10%;
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 924px;
}