form {
  border: 3px solid #f1f1f1;
}

h2 {
  text-align: center;
}


button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}


.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex-basis: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; 
}

.inputBox {
  display: flex;
  gap: 10px; 
  justify-content:center;
}


.search_box {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

#root{
  display: flex;
  justify-content: center;
  width: 100%;
}

.filter_button{
  padding: 10px 10px;
}

/* .add_button{
  padding: 2;
} */

.tableViewcontainer{
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  gap: 150px;
}

.searchBoxtable{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input{
  width: 30%;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50vh;
}

.loginPage{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

form{
  width: 50%;
}

.emailContainer{
  display: flex;
  flex-direction: column;
}

.passwordContainer{
  display: flex;
  flex-direction: column;
}

