
table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 50%;
    margin-bottom: 10%;
  }
  
  table td,
  table th, input {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: grey;
    color: white;
  }

  input{
    width: 95%;
  }

  .add_button{
    width: 10%;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 925px;
  }